version: '3.8'

services:
  app1:
    build: ./app
    hostname: "instance-01"
    restart: always  # Simulate recovery (Docker restarts it if it dies)

  app2:
    build: ./app
    hostname: "instance-02"
    restart: always

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - app1
      - app2